.display-container {
  width: 290px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
  overflow: hidden;
}

.display-history-container {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-history-operator {
  margin: 3px 0 0 3px;
  width: 2rem;
  height: 2rem;
  color: var(--sunglo);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-current-operand {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--stone);
}

.display-current-operand_result {
  font-size: 3rem;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
}

.display-result-container {
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
}
